<div>
                    @foreach (var item in ViewBag.Advert)
                    {
                       <a href="http://@item.CompanyWebsite/?Microware Solution" target="_blank" title="@item.CompanyWebsite"><img src="~/Uploads/Adverts/@(System.IO.Path.GetFileName(item.ImageUrl))" style="width:100%;border:solid 1px #f5c3c2;padding:3px" /></a>
                        <hr />
                    }
                </div>